.user-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
   height: 260px;
}


.user-panel-header {
 width: 100%;
  margin-bottom: 20px;
}

.user-panel-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  background: #f9f9fb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

}

input:focus {
  border-color: #282d8686;
  outline: none;
  background: #eef1fa;
  box-shadow: 0 0 0 2px #c7d0f783;
}

.user-panel-role {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  
}

.user-panel-save-button {
  padding: 5px 10px;
  background-color: #282D86;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
    transition: 0.3s ease-in-out;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-panel-save-button:hover {
  transform: scale(1.05);  
  background-color: #FE9000;
}

.user-panel-block-button {
    padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.user-panel-block-button:hover {
  transform: scale(1.05);
  background-color: #d32f2f;
}
