.models-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /* padding-top: 120px; */
}

.model-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
