.metrics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.metrics-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  gap: 20px;
}

.title {
  font-size: 34px;
  font-weight: 700;
  color: #282d86;
  margin-bottom: 20px;
}
