.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid #cccccc6b;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(34, 37, 212, 0.24);
  min-height: 500px;
  min-width: 500px;
  gap: 50px;
}

.logo {
  width: 300px;
  height: auto;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.5s;
  background-color: #282d86;
  color: white;
  font-weight: bold;
  font-size: 15px;
  gap: 10px;
}

.login-button:hover {
  background-color: white;
  color: #282d86;
  border: 1px solid #282d86;
  border-radius: 0;
}

.microsoft-icon {
  width: 40px;
  height: 40px;
}
