.add-vehicle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.add-vehicle-card {
  background: white;
  border-radius: 20px;
  padding: 3rem;

  border: 1px solid #282d86;
  text-align: center;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.212);
}

.add-vehicle-card h3 {
  color: #282d86;
  font-size: 24px;
  margin-bottom: 1rem;
}

.add-vehicle-card p {
  color: #666;
  font-size: 16px;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.add-vehicle-button {
  background-color: #282d86;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.add-vehicle-button:hover {
  background-color: #fe9000;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-vehicle-button:active {
  transform: translateY(0);
}
