.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.home-header {
  color: #282d86;
}

.bento-home-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 815px;
}
