.assignment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 20px 20px 20px;
  min-height: 90vh;
}

.assignment-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.assignment-icon {
  width: 40px;
  height: 40px;
}
