.assignment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.assignment-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.assignment-icon {
  width: 40px;
  height: 40px;
}
