body {
  margin: 0;
}

.app-content {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.app-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
